### ANÁLISIS DE DATOS CON PANDAS

**Dataframe ?** Es un estructura de datos ampliamente usada. Un data frame tiene dos dimensiones de Arrays. Un dataframe tambien tiene dos tipos de indices, column-index y row-index.

Es muy común crear los DataFrames con diccionarios.

In [2]:
import pandas as pd

In [3]:
## Read in the data json file
file_path = './files/students.json'
data = pd.read_json(file_path)
data.head()

   id nombre  Apellido  edad        carrera
0   1  Angie  Aparicio    18  ing electrica

---


#### Leamos un archivo con pandas tipo CSV

In [4]:
file_student = './files/exams.csv'
student_data = pd.read_csv(file_student, index_col=None)
student_data.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,male,group A,high school,standard,completed,67,67,63
1,female,group D,some high school,free/reduced,none,40,59,55
2,male,group E,some college,free/reduced,none,59,60,50
3,male,group B,high school,standard,none,77,78,68
4,male,group E,associate's degree,standard,completed,78,73,68

In [5]:
student_data.columns

Index(['gender', 'race/ethnicity', 'parental level of education', 'lunch',
       'test preparation course', 'math score', 'reading score',
       'writing score'],
      dtype='object')

In [6]:
student_data.dtypes

gender                         object
race/ethnicity                 object
parental level of education    object
lunch                          object
test preparation course        object
math score                      int64
reading score                   int64
writing score                   int64
dtype: object

### Data operation

Cualquier columna o fila del DataFrame puede ser seleccionada pasandole el nombre de las columnas y filas. Despues de seleccionar una desde el DataFrame, esta columna/fila seleccionada es uni-dimensional y es considerada como una serie.

In [12]:
ethnicity = student_data["race/ethnicity"]

print(f"type data {type(ethnicity)}")

ethnicity.head()

type data <class 'pandas.core.series.Series'>

0    group A
1    group D
2    group E
3    group B
4    group E
Name: race/ethnicity, dtype: object

### Filter data

Los datos pueden ser filtrados

In [16]:
### only ethnicity group D

group_D_ethnicity = student_data[student_data["race/ethnicity"] == "group D"]

group_D_ethnicity.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
1,female,group D,some high school,free/reduced,none,40,59,55
5,female,group D,high school,standard,none,63,77,76
8,male,group D,high school,standard,none,63,56,65
11,female,group D,high school,standard,completed,80,87,90
12,male,group D,associate's degree,standard,completed,77,87,85

In [8]:
## graph the data
import matplotlib.pyplot as plt